# Using your integration

In order to use your data provider inside Passfort for testing or production
use, you must register the integration as a custom provider. A custom provider
allows your integration to be used by a single Passfort institution.

<aside>
  If you are developing a check to be used by all users of Passfort, your
  integration will be published once it has gone through appropriate testing
  and review. You should use a custom provider during the development process.
</aside>

## Setting up a custom provider

To start setting up your integration, navigate to the <a href="https://identity.passfort.com/institution/policy-builder">Data providers</a> section
of the <a href="https://identity.passfort.com/institution/policy-builder/providers">Policy Builder</a> tab in the portal. Then, click the
_New data provider_ button in the top-right corner of the page. Choose
_Individual data provider_ or _Company data provider_ as appropriate for your
integration.

<%= partial("includes/partials/lightbox.md.erb", :locals => {
  :image => "validation-add-integration.png",
  :title => "Policy builder data providers"
}) %>

<aside>
    If you can't find the <a href="https://identity.passfort.com/institution/policy-builder/providers">Policy Builder</a> tab, or the
    <em>New data provider</em> button, contact your Passfort admin to ensure
    your account has the correct permissions to manage data providers.
</aside>

In the _New data provider_ modal, first choose the check type for your custom
provider. Custom integrations are found at the bottom of the list.

<%= partial("includes/partials/lightbox.md.erb", :locals => {
  :image => "validation-choose-check-type.png",
  :title => "Check type selection in 'New data provider' modal"
}) %>

Then choose a suitable name for your custom provider.

<%= partial("includes/partials/lightbox.md.erb", :locals => {
  :image => "validation-enter-check-name.png",
  :title => "Provider name entered 'New data provider' modal"
}) %>

Then choose create, after which you will be brought to the Validation screen.

## Validation

Your custom provider has not yet been saved; to begin using your custom
provider, you must first pass the validation suite for your check type. These
tests ensure your integration meets basic technical and security standards
required.

<%= partial("includes/partials/lightbox.md.erb", :locals => {
  :image => "validation-screen.png",
  :title => "Validation screen"
}) %>

Enter the URL for your integration, as well as the secret key you have chosen.
See the [authentication section](#authentication) for more information on the
requirements for your secret key. Once ready, press Run Validation to start the
validation process. The validation process may take some time, depending on the
check type and configuration of your integration.

<aside>
    Your integration URL <em>must</em> end with a trailing slash.
</aside>

<%= partial("includes/partials/lightbox.md.erb", :locals => {
  :image => "validation-results.png",
  :title => "Validation results display"
}) %>

Once the validation run has completed, the outcome and information on the tests
will be displayed below, including basic information detected about your check,
if available. If validation of your integration passed without any failures or
errors, you will now be able to click Save to create your custom provider as a
usable data provider. You can also view the results of individual tests run
during validation.

<%= partial("includes/partials/lightbox.md.erb", :locals => {
  :image => "validation-error.png",
  :title => "Error returned by the validation suite"
}) %>

If validation fails or encounters errors, you won't be able to save your
custom provider until they're addressed. View the test results for information
on why your custom provider has failed validation. In this case, validation
failed because a URL was provided for a non-existent domain.

## Revalidating your custom provider

Should you want to retest validation for your custom provider at any point, or
if you have updated the configuration or settings for your check, you can
submit the provider for validation again. This allows you to quickly update
your custom provider's configuration without needing to reconfigure your
Passfort smart policy.

<%= partial("includes/partials/lightbox.md.erb", :locals => {
  :image => "custom-provider-revalidate.png",
  :title => "Update custom integration section on provider config"
}) %>

Press the _Update_ button in the _Update custom integration_ section. You will
be brought back to the validation screen.

<aside class="warning">
    If you press <em>Save</em> on the validation screen to update your custom
    provider's validation, the configuration parameters will be reset to the
    default values to ensure that they're consistent in the event your
    credentials or config values are changed.
</aside>
